<?xml version="1.0"?>

<launch>
  <arg name="record_kinect" default="false" />
  <arg name="record_scan" default="false" />
  <arg name="record_velodyne" default="false" />


 <node pkg="rosbag" type="record" name="rosbag_record_cam"
       if="$(arg record_kinect)"
       args="-o $(find kuri_mbzirc_challenge_2)/rosbag/kinect
        /kinect2/qhd/camera_info
        /kinect2/qhd/image_color/compressed

        ch2/detection/panel/center_pose
        ch2/detection/wrenches/center_pose
        ch2/detection/valve/center_pose"
        />

 <node pkg="rosbag" type="record" name="rosbag_record_velodyne"
       if="$(arg record_velodyne)"
       args="-o $(find kuri_mbzirc_challenge_2)/rosbag/velodyne
        /velodyne_points"
        />

  <node pkg="rosbag" type="record" name="rosbag_record_scan"
        if="$(arg record_scan)"
        args="-o $(find kuri_mbzirc_challenge_2)/rosbag/scan
         /scan"
         />

 <node pkg="rosbag" type="record" name="rosbag_record_diag"
       args="-o $(find kuri_mbzirc_challenge_2)/rosbag/diagnostics
        /diagnostics
        /tf
        
        /gps/fix
        /gps/nmea_sentence
        /gps/nmea_sentence_out
        /gps/time_reference
        /gps/vel
        
        /imu/data
        /imu/data_raw
        /imu/mag
        /imu/magnetic_field
        /imu_filter/parameter_descriptions
        /imu_filter/parameter_updates

        /imu_um6/data
        /imu_um6/mag
        /imu_um6/rpy
        /imu_um6/temperature
        
        /odometry/filtered
        /odometry/gps"
        />   

</launch>
