<?xml version="1.0"?>

<launch>
  <!-- Record data -->
  <include file="$(find kuri_mbzirc_challenge_2)/launch/record_rosbag.launch">
    <arg name="record_velodyne" value="true" />
    <arg name="record_kinect"   value="false"/>
    <arg name="record_scan"     value="true"/>
  </include>

  <!--Run state machine -->
  <node args="default" pkg="kuri_mbzirc_challenge_2_system_coordinator" type="state_machine.py" name="state_machine"/>

</launch>
