<?xml version="1.0"?>

<launch>
  <arg name="robot_initial_pose" default="-x 1  -y 0 -z 0.1 -Y 3.14" />
  <arg name="random_panel_wrenches" default="true"/>
  <arg name="random_panel_location" default="false"/>

  <arg name="laser_enabled"       default="true"/>
  <arg name="kinect_enabled"      default="true"/>
  <arg name="velodyne_enabled"    default="false"/>
  <arg name="ur5_enabled"         default="false"/>
  <arg name="gripper_enabled"     default="false"/>
  <arg name="softkinetic_enabled" default="true"/>

  <arg name="gui" default="true" />
  <arg name="headless" default="false"/>

  <include file="$(find kuri_mbzirc_challenge_2)/launch/husky.launch">
    <arg name="robot_initial_pose" value="$(arg robot_initial_pose)" />
    <arg name="random_panel_wrenches" default="$(arg random_panel_wrenches)"/>
    <arg name="random_panel_location" default="$(arg random_panel_location)"/>

    <arg name="laser_enabled"       value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled"      value="$(arg kinect_enabled)"/>
    <arg name="velodyne_enabled"    value="$(arg velodyne_enabled)"/>
    <arg name="ur5_enabled"         value="$(arg ur5_enabled)"/>
    <arg name="gripper_enabled"     value="$(arg gripper_enabled)"/>
    <arg name="softkinetic_enabled" value="$(arg softkinetic_enabled)"/>
  </include>

  <!-- Run visualizer -->
  <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find kuri_mbzirc_challenge_2)/rviz/kinect.rviz"/-->
</launch>
